*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    

    
}
.phone{
    margin: 2%;
    height: 700px;
    width: 360px;
    border: solid gray 7px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    
}

.lock-screen{
    height: 100%;
    width: 100%;
    background-image: url(./src/images/home-screen-bg/bg8.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
}
.time{
    position: fixed;
    margin-left: 2%;
    margin-top: .5%;
}

.right-display-bar{
    position: fixed;
    margin-left: 19%;
    margin-top: .5%;
    display: flex;
    gap: 10px;

}

.camera{
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    top: 6%;
    left: 50%;

}

#change-background{
    height: 60px;
    width: 60px;
    
    background-color: red;
    border: 1px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 8%;
    left: 48%;
}
#homebtn{
    position: fixed ;
    bottom: 5%;
    left: 49%;

}
.lock-h1{
    position: fixed;
    top: 20%;
    left: 43.7%;
}

.home-screen{
    display: none;
    
    height: 100%;
    width: 100%;
    background-image: url(./src/images/home-screen-bg/bg6.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;

    flex-direction: column;
}

#lockbtn{
    position: fixed ;
    bottom: 5%;
    left: 49%;

}

.apps{
   
    border-radius: 10px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px  ;
    margin-right: 25px;
    height: 60%;
    width: 100%;

}

.app{
    margin: 20px;
    height: 40px;
    width: 40px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.note-app{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    display: none;
    
}


.app-nav{
    display: flex;
    
    height: 5%;
    width: 360px;
    position: fixed;
    bottom: 5%;
    gap: 110px;
    margin: 5px;
    
}

.app-nav i{
   
    text-align: center;
    font-size: xx-large;
}

.app-area{
    height: 85%;
    width: 100%;
    margin-top: 10%;
}

.data-display{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-display p{
    background-color: gray;
}

